configuration {
 modes: "window,drun,run";
 font: "MesloLGS NF 12";
 combi-modes: "run,drun";
 terminal: "kitty";
 icon-theme: "Tela-circle-dracula-dark";
 show-icons: true;
 drun-display-format: "{icon} {name}";
 location: 0;
 disable-history: false;
 hide-scrollbar: true;
 display-drun: " 󰣇  Apps ";
 display-run: "   Run ";
 display-window: " 󱂬  Window";
 sidebar-mode: true;
 }
@theme "/home/alexandre/.local/share/rofi/themes/catppuccin-mocha.rasi"
